<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Servidores:</strong>
  <% @user.servers.each do |server| %>
  	<%= server.nome %>

  	<% server.login.each do |login| %>
  		Login:
  		<%= login.login %>
  		Senha:
  		<%= login.senha %>
  	<% end %>
  <%end%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
